.envrc

.DS_store
proposals/deprecated
proposals/TESS_GI_cycle04/expertise_and_resources_contrast_TESS_2021.pdf
notebooks/09_deprecated/

.ipynb_checkpoints

*.gz

proposals/TESS_GI_cycle02/final/*.pdf

starry/

proposals/TESS_GI_cycle04/2019_review/*.pdf
proposals/TESS_GI_cycle04/final/*.pdf

budgets/